header {
        background-image: url(/images/LogoSmall.png);
        min-height: 50px;
        background-position:right top; 
        background-repeat: no-repeat;
    }

  
    nav {
      width: 100%;
      background-color: #f4f4f4; /* Background color */
    }
  
    nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-around;
    }
  
    nav ul li {
      margin: 0 5px; /* Small space between links */
      width: auto; /* Adjust width if needed */
    }
  
    nav ul li a {
      display: block;
      padding: 10px 20px; /* Adjust the size of the links */
      text-decoration: none;
      text-align: center; /* Center text */
      color: #333; /* Text color */
    }
  
    nav ul li a:hover {
      background-color: #ddd; /* Hover background color */
    }

body {
    background-color: #E4C2C1; 
    color: #b6666b;
    font-family: Arial, Helvetica, sans-serif;
    
}

.largeritalics {
font-size: 1.2em;
font-style: italic;
}

#myHeader {
  font-family:'Brush Script MT', cursive;
  font-size: 4em;
}

main {
    background-color: #fef2f2;
    color: #8B4513;
   
}




a:link {
  color:  #808000;
}

/* visited link */
a:visited {
  color: #683B2B;
}

/* mouse over link */
a:hover {
  color: #F48882;
}


.responsive {
  width: 100%;
  height: auto;
}


@media screen and (min-width: 480px) {
  header {
    background-image: url(/images/LogoLarge.png);
    min-height: 100px;
    background-color: #DED1BD;
    color: #683B2B;
}

  body {
    background-color: #faf6f2;
    color: #8B4513;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  nav {
    width: 200px;
    background-color: #f4f4f3; /* Background color */
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
  }
  
  nav ul li {
    margin-bottom: 10px; /* Vertical space between links */
  }
  
  nav ul li a {
    text-decoration: none;
    text-align: center; /* Center text */
    color: #333; /* Text color */
  }
  
  nav ul li a:hover {
    background-color: #ddd; /* Hover background color */
  }
  

}

